@import '../reset';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$font: 'Press Start 2P', sans-serif;

* {
    font-family: $font;
}

@mixin flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    @include flex();
    height: 100vh;
    background-color: #333;

    .login_header{
        @include flex();
        margin-bottom: 25px;

        h1 {
            color: white;
        }

        img {
            width: 200px;
        }
    }

    .login_input {
        max-width: 280px;
        width: 100vw;
        padding: 15px;
        border-radius: 10px;
        outline: none;
    }

    .login_btn {
        font-size: 1.2em;
        max-width: 280px;
        width: 100vw;
        border-radius: 8px;
        padding: 15px;
        margin-top: 20px;
        cursor: pointer;
        background-color: #0f0707;
        color: white;

        &:disabled {
            cursor: auto;
            background-color: #0f070734;
        }
    }
}

